# Sentience in Space

-----BEGIN KEYBINDINGS-----
Up=119
Left=97
Down=115
Right=100
Use=101
Inventory=105
Journal=106
Enter=13
Escape=27
Lift=108
Map=109
-----END KEYBINDINGS-----

-----BEGIN MUSIC SETTINGS-----
Volume=1.0
-----END MUSIC SETTINGS-----

-----BEGIN SCREEN SETTINGS-----
Brightness=1.0
-----END SCREEN SETTINGS-----
